In [71]:
# Import initial dependencies
import os
import pandas as pd
import numpy as np

In [72]:
# Create OS paths for each data set
cen2010 = os.path.join("Texas Census Demographic Data Sets","ACS_10_5YR_DP05_with_ann.csv")
cen2011 = os.path.join("Texas Census Demographic Data Sets","ACS_11_5YR_DP05_with_ann.csv")
cen2012 = os.path.join("Texas Census Demographic Data Sets","ACS_12_5YR_DP05_with_ann.csv")
cen2013 = os.path.join("Texas Census Demographic Data Sets","ACS_13_5YR_DP05_with_ann.csv")
cen2014 = os.path.join("Texas Census Demographic Data Sets","ACS_14_5YR_DP05_with_ann.csv")
cen2015 = os.path.join("Texas Census Demographic Data Sets","ACS_15_5YR_DP05_with_ann.csv")
cen2016 = os.path.join("Texas Census Demographic Data Sets","ACS_16_5YR_DP05_with_ann.csv")

In [73]:
# Create data frames for each data set via read_csv
cen2010_df = pd.read_csv(cen2010, encoding = "ISO-8859-1")
cen2011_df = pd.read_csv(cen2011, encoding = "ISO-8859-1")
cen2012_df = pd.read_csv(cen2012, encoding = "ISO-8859-1")
cen2013_df = pd.read_csv(cen2013, encoding = "ISO-8859-1")
cen2014_df = pd.read_csv(cen2014, encoding = "ISO-8859-1")
cen2015_df = pd.read_csv(cen2015, encoding = "ISO-8859-1")
cen2016_df = pd.read_csv(cen2016, encoding = "ISO-8859-1")

In [74]:
cen2010_df.head()

,Id,Id2,Geography,Estimate; SEX AND AGE - Total population,Estimate Margin of Error; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population,Percent Margin of Error; SEX AND AGE - Total population,Estimate; SEX AND AGE - Male,Estimate Margin of Error; SEX AND AGE - Male,Percent; SEX AND AGE - Male,...,Percent; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - Two or more races - Two races including Some other race,Percent Margin of Error; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - Two or more races - Two races including Some other race,"Estimate; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Estimate Margin of Error; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Percent; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Percent Margin of Error; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races",Estimate; HISPANIC OR LATINO AND RACE - Total housing units,Estimate Margin of Error; HISPANIC OR LATINO AND RACE - Total housing units,Percent; HISPANIC OR LATINO AND RACE - Total housing units,Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total housing units
0,0400000US48,48,Texas,24311891,*****,24311891,(X),12058770,2259,49.6,...,0.1,0.1,258260,5346,1.1,0.1,9718470,966,(X),(X)

In [81]:
cen2010_df = cen2010_df.drop(cen2010_df.filter(like='Margin').columns, 1)
cen2010_df = cen2010_df.drop(cen2010_df.filter(like='Percent').columns, 1)
cen2010_df = cen2010_df.drop(cen2010_df.filter(like='housing units').columns, 1)
# cen2010_df = cen2010_df.drop(cen2010_df.filter(like='Two or more').columns, 1)
cen2010_df

,Id,Id2,Geography,Estimate; SEX AND AGE - Total population,Estimate; SEX AND AGE - Male,Estimate; SEX AND AGE - Female,Estimate; SEX AND AGE - Under 5 years,Estimate; SEX AND AGE - 5 to 9 years,Estimate; SEX AND AGE - 10 to 14 years,Estimate; SEX AND AGE - 15 to 19 years,...,Estimate; HISPANIC OR LATINO AND RACE - Hispanic or Latino (of any race) - Puerto Rican,Estimate; HISPANIC OR LATINO AND RACE - Hispanic or Latino (of any race) - Cuban,Estimate; HISPANIC OR LATINO AND RACE - Hispanic or Latino (of any race) - Other Hispanic or Latino,Estimate; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino,Estimate; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - White alone,Estimate; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - Black or African American alone,Estimate; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - American Indian and Alaska Native alone,Estimate; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - Asian alone,Estimate; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - Native Hawaiian and Other Pacific Islander alone,Estimate; HISPANIC OR LATINO AND RACE - Not Hispanic or Latino - Some other race alone
0,0400000US48,48,Texas,24311891,12058770,12253121,1903554,1846029,1811920,1849088,...,119149,39603,1054681,15394414,11286712,2810118,67744,892981,16874,43791

In [60]:
# Append all the data sets into a single data set
census_data_df = cen2015_df.append(cen2016_df)
# census_data_df = census_data_df.append(cen2012_df)
# census_data_df = census_data_df.append(cen2013_df)
# census_data_df = census_data_df.append(cen2014_df)
# census_data_df = census_data_df.append(cen2015_df)
# census_data_df = census_data_df.append(cen2016_df)

census_data_df.head()

,"Estimate; CITIZEN, VOTING AGE POPULATION - Citizen, 18 and over population","Estimate; CITIZEN, VOTING AGE POPULATION - Citizen, 18 and over population - Female","Estimate; CITIZEN, VOTING AGE POPULATION - Citizen, 18 and over population - Male",Estimate; HISPANIC OR LATINO AND RACE - Total housing units,Estimate; HISPANIC OR LATINO AND RACE - Total population,Estimate; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race),Estimate; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Cuban,Estimate; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Mexican,Estimate; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Other Hispanic or Latino,Estimate; HISPANIC OR LATINO AND RACE - Total population - Hispanic or Latino (of any race) - Puerto Rican,...,Percent; SEX AND AGE - 65 years and over - Female,Percent; SEX AND AGE - 65 years and over - Male,Percent; SEX AND AGE - 65 years and over.1,Percent; SEX AND AGE - 75 to 84 years,Percent; SEX AND AGE - 85 years and over,Percent; SEX AND AGE - Median age (years),Percent; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population - Female,Percent; SEX AND AGE - Total population - Male,Percent; SEX AND AGE - Under 5 years
0,16864962.0,8653415.0,8211547.0,10305607.0,26538614.0,10196367.0,60461.0,8886716.0,1085773.0,163417.0,...,55.8,44.2,2968232.0,3.4,1.3,(X),26538614.0,50.4,49.6,7.4
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN